

<div class="animated flip">
<div></div>


<div class="row form">
  <div class="small-6 small-centered columns">
    <div>

    </div>

    <%= form_for [@story, @scene] do |f| %>

      <div class="centerformy">
      <div class="bignice">


      <%= f.label :scene_name, "What is the name of this scene?" %>
            <br>
              <br>
      <%= f.text_field :scene_name %>
      <br>
        <br>

      <%= f.label :scene_cover, "does this scene have a cover?" %>
            <br>
              <br>
      <%= f.text_field :scene_cover %>
            <br>
              <br>
      <%= f.label :problem, "What is seperating your character from the goal they have?" %>
            <br>
              <br>
      <%= f.text_field :problem %>
            <br>
              <br>
      <%= f.label :decision, "What decision and action does your character make and take to get closer to the goal?" %>
            <br>
              <br>
      <%= f.text_field :decision %>
            <br>
              <br>
      <%= f.label :polarity, "Does your characters position bring them closer or farther from obtaining the goal?" %>
            <br>
              <br>
      <%= f.radio_button :polarity, 'True' %>
      <%= f.radio_button :polarity, 'False' %>
            <br>
              <br>
      <%= f.label :effect, "Based on previous question, explain where this leaves your character in relation to their goal." %>
            <br>
              <br>
      <%= f.text_field :effect %>
      <div id="main-list">
        <br>
          <br>



      <%= f.submit "Create character", class: "button round" %>
      <% end %>
    </div>
 </div>
