
<%= link_to "Home", authenticated_root_path %>
<div class="animated flip">
<div></div>


<div class="row form">
  <div>
    <div>

    </div>

    <%= form_for [@story, @scene] do |f| %>

      <div class="centerformy">
      <div class="bignice">


      <%= f.label :scene_name, "What is the name of this scene?" %>
            <br>
              <br>
      <%= f.text_field :scene_name %>
      <br>
        <br>

      <%= f.label :scene_cover, "Give a cover image for this scene. URL:" %>
            <br>
              <br>
      <%= f.text_field :scene_cover %>
            <br>
              <br>
      <%= f.label :problem, "What is seperating your character from the goal they have?" %>
            <br>
              <br>
      <%= f.text_area :problem, size: "46x20" %>
            <br>
              <br>
      <%= f.label :decision, "What action does your character take to get closer to the goal?" %>
            <br>
              <br>
        <%= f.text_area :decision, size: "46x12" %>
            <br>
              <br>
      <%= f.label :polarity, "Does your characters decision bring them closer or farther from obtaining the goal?" %>
            <br>
              <br>
      <%= f.radio_button :polarity, true %>
          <label>Closer</label>
                <br>
      <%= f.radio_button :polarity, false %>
          <label>Farther</label>
            <br>
              <br>
      <%= f.label :effect, "What effect does this action have? Explain how it brings them either closer or farther to their goal?" %>
            <br>
              <br>
      <%= f.text_area :effect, size: "46x5" %>
      <div id="main-list">
        <br>
          <br>



      <%= f.submit "Create Scene", class: "button round" %>
      <% end %>
    </div>
 </div>
