


<div class="animated flip">

<div id="ball"></div>


<div class="row form">
  <div class="small-6 small-centered columns">
    <div>

    </div>

    <%= form_for (@story) do |f| %>

      <div class="centerform">
      <div class="bignice">

      <%= f.label :protaginst, "Name of your main character" %>
            <br>
              <br>
      <%= f.text_field :protaginst %>
            <br>
              <br>
      <%= f.label :cover, "What does your character look like? Url:" %>
            <br>
              <br>
      <%= f.text_field :cover %>
            <br>
              <br>
      <%= f.label :setting, "What is your characters setting?" %>
            <br>
              <br>
      <%= f.text_field :setting %>
            <br>
              <br>
      <%= f.label :goal, "What does your character want?" %>
            <br>
              <br>
      <%= f.text_field :goal %>
            <br>
              <br>
      <%= f.label :story_name, "What is the name of your story?" %>
            <br>
              <br>
      <%= f.text_field :story_name %>
      <div id="main-list">
        <br>
          <br>



      <%= f.submit "Create character", class: "button round" %>
      <% end %>
    </div>
 </div>
