

<div class="row form">
  <div class="small-6 small-centered columns">

    <%= form_for (@story) do |f| %>
      <%= f.label :story_name, "Name of your story" %>
      <%= f.text_field :story_name %>

      <%= f.label :protaginst, "Name of your protaganist" %>
      <%= f.text_field :protaginst %>

      <%= f.label :cover, "A cover for your story?" %>
      <%= f.text_field :cover %>

      <%= f.label :setting, "Where does your story take place?" %>
      <%= f.text_field :setting %>

      <%= f.label :goal, "What is your characters goal? what do they want?" %>
      <%= f.text_field :goal %>

      <%= f.submit "Create character", class: "button round" %>
    <% end %>
  </div>
</div>

<div id="main-list">
</div>
